%%writefile /content/drive/MyDrive/plant_disease_cv_project/.gitignore
# ── Specifico del progetto ──────────────────
dataset/
models/
results/

# ── Python ──────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyx
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# ── Jupyter / IPython ───────────────────────
.ipynb_checkpoints/
profile_default/
ipython_config.py

# ── Ambienti virtuali ───────────────────────
.env
.venv
env/
venv/

# ── Editor e IDE ────────────────────────────
.vscode/
.idea/
*.spyderproject

# ── Varie ────────────────────────────────────
*.log
.DS_Store
Thumbs.db
tempCodeRunnerFile.py